<p>Geogram is a way to view Instagrams within a geofenced region.</p>
<br>
<p>Created by <a href="http://twitter.com/joemccann">Joe McCann</a> for the fuck of it.</p>
<br>
<p>Geogram is also completely open source.</p>
<br>

<iframe src="http://ghbtns.com/github-btn.html?user=joemccann&repo=geogram&type=watch"
  allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>

<iframe src="http://ghbtns.com/github-btn.html?user=joemccann&type=follow"
  allowtransparency="true" frameborder="0" scrolling="0" width="132" height="20"></iframe>