<header role="header" id="header">
		<div id="nav-container">
		  <div id="logo-container" class="main full">
		    <h1 id="logo" class="aligntop">Geogram</h1>
		    <a id="nav-trigger" class="icon" href="#">&nbsp;</a>
		      <!-- <img src="" class="profile-image right aligntop" id="instagram-profile-image" title=""> -->
		  </div>
		</div>
            </header>