<header role="header" id="header" class="maxwidthcenter">
  
  <div id="nav-container">

    <div id="logo-container">
      <h1 id="logo">Geogram</h1>
      <a id="sync-with-dropbox" href=""><img src="/img/sync-with-dropbox-217x80.png"></a>
    </div>

  </div>
  
</header>