  <div id="import-form-container">
    <form class="styled-form" id="import-form" action="#!">
      <fieldset>
        <div class="form-item">
          <label for="name_of_folder">Select Folder Name</label>
          <select class="topcoat-text-input--large full" name='name_of_folder' id="name_of_folder">	
          </select>
        </div>
      </fieldset>
    </form>
  </div>