	<div class="md-modal md-effect-16" id="modal-16">
		<div class="md-content">
			<h3>Get Started With Geogram</h3>
			<div>
				<p>To get started, please sync your Instagram account with Geogram.</p>
				<p>Don't worry, we don't get access to anything personal</p>
				<p><a href="/oauth/instagram">Login with Instagram</a></p>
			</div>
		</div>
	</div>

	<div class="md-overlay"></div>
