    <nav class="st-menu st-effect-1" id="menu-1">
      <h2 class="icon icon-map">Geogram</h2>
      <ul>
        <li><a class="icon icon-user" href="/account">Account Management</a></li>
        <li><a class="icon icon-gear" href="/settings">Settings</a></li>
        <li><a class="icon icon-lock-open" href="/logout">Logout</a></li>
        <li><a class="icon icon-information" href="/about">About</a></li>
      </ul>
    </nav>
