  <div id="search-form-container">
    <form class="styled-form" id="search-form" action="/search/geo" enctype="application/x-www-form-urlencoded" method="post">
      <fieldset>
        <div class="form-item">
          <label for="name_of_folder">Folder Name</label>
          <input type='text' class="topcoat-text-input--large full" name='name_of_folder' id="name_of_folder" value='My Geogram Folder' placholder="My Geogram Folder">
        </div>
        <div class="form-item">
        	<label for="latitude">Latitude</label>
		      <input type='text' class="topcoat-text-input--large full" name='latitude' id="latitude" value='40.762485' placholder="40.762485">
        </div>
        <div class="form-item">
        	<label for="longitude">Longitude</label>
		      <input type='text' class="topcoat-text-input--large full" name='longitude' id="longitude" value='-73.997513' placholder="-73.997513">
        </div>
        <div class="form-item">
          <label for="minUTC">Beginning Date and Time</label>
          <input type='date' class="topcoat-text-input--large full" name='minUTC' id="minUTC" value='' placholder="">
        </div>
        <div class="form-item">
          <label for="maxUTC">End Date and Time</label>
          <input type='date' class="topcoat-text-input--large full" name='maxUTC' id="maxUTC" value='' placholder="">
        </div>
        <div class="form-item">
        	<label for="distance">Search Radius (in meters)</label>
		      <input type='text' class="topcoat-text-input--large full" name='distance' id="distance" value='100' placholder="100">
        </div>
        <div class="form-item">
          <button id="search-button" class="topcoat-button--large--cta full">Get Geograms</button>
        </div>
      </fieldset>
    </form>
  </div>