
  <form id="instagram_geo_search_form" class="left-search-form" action="/search/geo" enctype="application/x-www-form-urlencoded" method="post">
    <fieldset>
      <label for='caption'>Latitude</label>
      <input type='text' class="big-text-field" name='latitude' id="latitude" value='40.762485' placholder="40.762485">
      <label for='caption'>Longitude</label>
      <input type='text' class="big-text-field" name='longitude' id="longitude" value='-73.997513' placholder="-73.997513">
      <label for='caption'>Diameter (in meters)</label>
      <input type='text' class="big-text-field" name='distance' id="distance" value='1000' placholder="1000">
      <input class="button" type='submit' value='Search for Photos!'>
    </fieldset>
  </form>  
