
<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:og="http://opengraphprotocol.org/schema/">
<head>
  <title>Geogram</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="skype_toolbar" content="skype_toolbar_parser_compatible">
  <meta name="description" content="Geogram • Capture Instagrams in a Geofenced Region">
  <meta name="author" content="Joe McCann">
  
  <meta property="og:locale" content="en_US">
  <meta property="og:title" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:type" content="">
  <meta property="og:description" content="Geogram • Capture Instagrams in a Geofenced Region">
  <meta property="og:email" content="">
  <meta property="og:phone_number" content="">
  <meta property="og:image" content="http://">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:creator" content="joemccann">
  <meta name="twitter:image:src" content="">
  <meta name="twitter:domain" content="">
  <link href="/css/style.css" rel="stylesheet">

  <!-- For IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  

  <!-- 

  Powered by:

  '||''''|                                          
   ||  .   ... ...... ...... ..   ....  ....  ....  
   ||''|    '|..'  ||'  ||||' ''.|...||||. ' ||. '  
   ||        .|.   ||    |||    ||     . '|... '|.. 
  .||.....|.|  ||. ||...'.||.    '|...'|'..|'|'..|'  
                   ||
                   ||  
                 
  using node.js version 0.10.2

  Another subPrint Product -- http://subprint.com

  -->
</head>
<body>

  <noscript>
    <p>Oooooo, sorry that's the wrong answer. You actually need JavaScript enabled!</p>
    <p>Be sure and come back when you have JavaScript enabled - It's 2013!!!!111!1!</p>
  </noscript>

  <header role="header" id="header" class="maxwidthcenter">
  
  <div id="nav-container">

    <div id="logo-container">
      <h1 id="logo">Geogram</h1>
    </div>

  </div>
  
</header>

  <div id="container" class="maxwidthcenter">

  <script type="text/x-handlebars">
    <h2>Welcome to Ember.js</h2>

    {{outlet}}
  </script>

  <script type="text/x-handlebars" data-template-name="index">
    <ul>
    {{#each item in model}}
      <li>{{item}}</li>
    {{/each}}
    </ul>
  </script>
  
  <div id="instagram-photos-container">
	</div>

  <footer role="footer" id="footer">
	</footer>

  </div>


  <script src="js/jquery-1.9.1.js"></script>
  <script src="js/handlebars-1.0.0.js"></script>
  <script src="js/ember-1.0.0-rc.7.js"></script>
  <script src="js/app.js"></script>

  <!-- 

    This site, along with a number of other projects, is 100% open source:

    https://github.com/joemccann/geogram

  -->
</body>
</html>