@font-face 
  font-family 'proxima-bold'
  src url('/font/proximanova-bold-webfont.eot')
  src url('/font/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/font/proximanova-bold-webfont.woff') format('woff'),
       url('/font/proximanova-bold-webfont.ttf') format('truetype'),
  font-weight normal
  font-style normal

@font-face 
  font-family 'proxima-sbold'
  src url('/font/proximanova-sbold-webfont.eot')
  src url('/font/proximanova-sbold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/font/proximanova-sbold-webfont.woff') format('woff'),
       url('/font/proximanova-sbold-webfont.ttf') format('truetype'),
  font-weight normal
  font-style normal

@font-face 
  font-family 'proxima-regular'
  src url('/font/proximanova-regular-webfont.eot')
  src url('/font/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/font/proximanova-regular-webfont.woff') format('woff'),
       url('/font/proximanova-regular-webfont.ttf') format('truetype'),
  font-weight normal
  font-style normal

