@import 'variables'

.styled-form
  background: #FFF;
  border: 1px solid #E0E0E0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  padding 3.25%

fieldset
  border none
  margin 0 auto
  background transparent
  padding 0


normPlaceholdercolor($black, Source Sans, Helvetica, Arial, sans-serif)

label
  display block

#address-form-container
  width 100%
  display block
  margin 1% 0
  max-width 880px

#search-form-container
  display inline-block
  width 100%
  max-width 360px
  vertical-align top

.form-item
  padding 3.5% 0
  margin 0 auto

.form-item:last-child
  margin 0% auto 2%

form .error
  border $red 4px solid
