@import 'variables'

/* 1em = 16px */

/* 768px */
@media only screen and (max-width: 48em)

  #maps-container,
  #search-form-container
    display block
    float none
    width 100%
    margin 0 auto 2%

  #instagram-photos-container li
    width: 25%
    margin 0



/* 640px */
@media only screen and (max-width: 40em)

  body
    font-size 100%

  #instagram-photos-container li
    width: 33.3%

  h1 
    font-size 2.2em
    line-height 1.4


/* 480px */
@media only screen and (max-width: 30em)

  body
    font-size 100%

  #instagram-photos-container li
    width: 50%



/* 320px */
@media only screen and (max-width: 20em)

  body
    font-size 100%

  #contact-form-container
  	width 98%
  	display inline-block
  	float left

  #contact-form
  	margin 2.5% auto

