@import 'variables'

/* 1em = 16px */

/* 768px */
@media only screen and (max-width: 48em)

  body
    font-size 100%

/* 640px */
@media only screen and (max-width: 40em)

  body
    font-size 100%


/* 480px */
@media only screen and (max-width: 30em)

  body
    font-size 100%

/* 320px */
@media only screen and (max-width: 20em)

  body
    font-size 100%

