@import 'variables'
@import 'normalize'
@import 'fonts'



*,
*:after,
*:before
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

html, 
body
  height 100%

body
  font-size: 100%
  font-family: 'proxima-regular', 'Helvetica-Neue', Arial, Helvetica, sans-serif
  background-color $white
  color $black
  
img
  max-width 100%

nav
  float right
  margin-top 1%

a
  color: $blue
  text-decoration none


p, li
  font-size 1.6em
  margin 0
  padding 0
  font-family: 'Source Sans', Helvetica, Arial, sans-serif
  font-weight 200

h1
  font-size 3.6em
  font-weight normal
  line-height 1
  color lighten($black,30)
  font-weight normal
  font-family: 'proxima-sbold', 'Helvetica-Neue', Arial, Helvetica, sans-serif

h2
  font-size 2.4em
  font-weight 200
  line-height 1.1
  font-family: 'proxima-bold', 'Helvetica-Neue', Arial, Helvetica, sans-serif
  margin 0

h3
  font-family: 'proxima-regular', 'Helvetica-Neue', Arial, Helvetica, sans-serif


  
ul
  list-style-type none
  margin 0
  padding 0
  
li
  margin .75%

header
  position relative
  overflow hidden
  margin-bottom 1%

footer
  background-color $footerColor
  margin 0% auto
  text-align center
  width: 100%

footer p
  color $white
  font-size 1.2em

#container
  margin 0 auto
  overflow auto
  padding 0 1%

#map-canvas
  width 100%
  height 100%
  min-height 693px
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  vertical-align: top;
  outline: none;
  border: 1px solid #a5a8a8;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px rgba(0,0,0,0.12);
  box-shadow: inset 0 1px rgba(0,0,0,0.12);

#logo-container
  display inline-block

#map-canvas img
  max-width none

#maps-container
  height 100%
  overflow auto

#results-container
  margin 1% auto
  vertical-align top

#instagram-photos-container
  display inline-block
  padding 1%
  overflow scroll
  height 605px
  vertical-align top
  margin 1% auto

#instagram-photos-container ul li
  display: inline


#sync-with-dropbox
  float right
  display inline-block

#nav-container
  margin 0 auto
  overflow auto

#logo
  display inline-block
  margin 1% auto 0
  text-align left
  float left

.showcopylabel
  margin-top 3.5%

.aligntop
  vertical-align top

.instagram-list
  padding 2% 0

.block
  display block

.none 
  display none

.inline-block
  display inline-block

.red
  color $red

.blue
  color $blue

.yellow
  color $yellow

.black
  color $black

.grey
  color $grey

.large
  font-size 150%
  line-height 0

.larger
  font-size 200%
  line-height 0

.largest
  font-size 300%
  line-height 0

.ninety
  width 90%

.ten
  width 90%

.sixtyfive
  width 65%

.sixtyfour
  width 64%

.thirtyfive
  width 35%

.thirtyfour
  width 34%

.opacity75
  normOpacity(75)

.no-touch a:hover
  color: darken($blue,20)

.louder
  color $linkColor
  font-size 1.125em

.maxwidthcenter
  max-width $maxwidth
  margin 0 auto

.justify
  text-align justify

.centerShadowBox
  boxShadow(8px 8px 6px -6px rgba(0,0,0, 0.56))
  margin 0 auto

.no-touch a.red:hover
  color darken($red,20)

.opacity75
  normOpacity(75)


@import 'modal'


@import 'forms'
@import 'buttons'
@import 'responsive'
